<center>
    <div id="topAlert" style="margin-top:100px; display: none;"  class="alert {{test.topAlert}}">
     
          {{test.topAlertMessage}}
      
    </div>
</center>
<div id="mainDiv" style="display: none">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 style="text-align: center";>Round 1</h1>
      <h2>Instructions</h2>      
      <br/>
      <li>Your test link expires in <b>1 hour</b>! So, please kindly take this test soon!</li>
      <li style="font-size:15px;"><b>Note: Your answers will be saved only after submitting the test. So please avoid reloading the page.</b></li>

      <li>
        The test has 4 sections.
        <ol>1) Aptitude</ol>
        <ol>2) Verbal ability</ol>
        <ol>3) Blood Relations</ol>
      </li>       
      <li>Each Question has 4 options and only one among them is right. Click the Submit button if you have finished your test.</li>
      <li>Each question carries 2 marks and selection is done based on the relative performace of all participants!</li></b></p>
    </div>    
  </div>
  <div class="container">
  <h3>Questions</h3>        
</div>
<div class="container">
  <form>
      <div ng-repeat="q in test.q">
          <h5 id="{{q.qid}}"><b>{{q.qid}})</b> {{q.ques}}</h5>
          <p><u>Section:</u>   {{q.qsec}}</p>
          <div ng-repeat="op in q.options">
            <input type="radio" name="{{q.qid}}" id="{{q.qid}}" value="{{op}}">  {{op}}      
          </div>
          <br><br>
        </div><br>
        <center><button type="button" ng-click="test.submitTest()"  class="btn btn-success" data-dismiss="modal">Yes, Submit</button></center>
  </form>

  <br>
  <br>

</div>
<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Mr/Miss HeadStart</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Are you sure you want to submit the test?
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">No, cancel</button>
          <button type="button" ng-click="test.submitTest()"  class="btn btn-success" data-dismiss="modal">Yes, Submit</button>
      </div>
        
</div>

</div>
     
    